@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
    image-rendering: pixelated;
}

[hidden] {
    display: none !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 14pt;
    color: #ffffff;
    background: #33394d;
}

noscript {
    padding: 1em;
}

#viewport {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 0;
}

#display {
    user-select: none;
}

.controls {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
}

button, .button {
    width: 4em;
    height: 4em;
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 3em;
    font-family: inherit;
    font-size: 12pt;
    border: none;
    background: #545d79;
    color: inherit;
}

button:not([disabled]):hover, .button:hover {
    background: #6b7695;
}
button:not([disabled]):active, .button:active {
    background: #131620;
}

button[disabled] {
    opacity: 0.5;
}

#error {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #000066;
}

#error > * {
    max-width: 40em;
}

#error #message {
    overflow-x: auto;
    white-space: pre-line;
}
